@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: var(--font-family);
    font-size: 12px;
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.top-circle {
    top: -450px;
    left: -300px;
    position: absolute;
}

.bottom-circle {
    top: 320px;
    right: -280px;
    position: absolute;
}

.card {
    background-color: #ffffff;
    width: 332px;
    height: 355px;
    margin-inline: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}

.card::before {
    content: "";
    background: url(../images/bg-pattern-card.svg) top no-repeat;
    width: 332px;
    height: 135px;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

:where(.name, .stats-info) {
    color: var(--primary-font-color);
    font-size: 18px;
}

:where(span, .localization, .stats-description) {
    color: var(--secondary-font-color);
    font-weight: 400;
}

.card .photo-profile {
    border-radius: 50%;
    border: solid 5px #ffffff;
    margin: 15% 0 5%;
}

.card .profile-info .localization {
    margin: 5px 0 55px;
}

.card .stats {
    display: flex;
    gap: 50px;
}

.card .stats-description {
    margin: 3px 0 0;
    font-size: 10px;
}